@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1 {
  background-image: url(asset/bgDisplay1.png);
}
.bg2 {
  background-image: url(asset/bgDisplay2.png);
}

.judul {
  background: #f2f2f2;
  background: linear-gradient(to bottom right, #f2f2f2 35%, #c5b7d8 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
